
<div class="container">
  <app-cockpit (srvCreated)="onServerAdded($event)"
  (bpCreated)= "onBlueprintCreated($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)= "OnChangeFirst()">Change First Element</button>
      <span>&nbsp;</span>
      <button class="btn btn-danger" (click)= "OnDestroy()">Destroy First Element</button>
    </div>
  </div>
  <hr>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvEelment]="serverElement"
      [name]="serverElement.name">
      <p #content>
        <strong *ngIf="serverElement.type == 'server'" style="color: rgb(240, 17, 17);">{{serverElement.content}}</strong>
        <em *ngIf="serverElement.type == 'blueprint'">{{serverElement.content}}</em>
      </p>
      </app-server-element>
    </div>
  </div>
</div>